################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/StudioReposEfremov_Idb2215_VR2/FileContentIndex/4b984ff5-bff3-48b5-83be-ca06bf1889a6.vsidx
